In [1]:
import pandas as pd

In [2]:
def get_value_type(t):
    if t == 'object' or t == 'category':
        return 'Categorical'
    elif t == 'float64':
        return 'Float'
    elif t == 'int64':
        return'Int'
    elif t == 'bool' or t == 'uint8':
        return'Boolean'
    elif t == 'datetime64' or t == 'timedelta':
        return'DateTime'

In [3]:
DIFFERENCE = 0
CURRENT_DSET = ''

In [4]:
def generate_cols_and_data(dset, dset_name,target_columns, id_columns,used_ids):
    global CURRENT_DSET, DIFFERENCE
    used_ids.append(dset_name)
    index_col = 0
    print("!create %s:Dataset" % dset_name)
    used_rows = []
    for col in dset.columns:
        col_name=col.strip() 
        i = 1
        while(col_name in used_ids):
            col_name = col + str(i)
            i+=1
        print ('!create %s:Column' % col_name)
        used_ids.append(col_name)
        print ("!%s.uri:=%s" % (col_name,index_col))
        print ("!%s.name:='%s'" % (col_name,col))
        value_type = get_value_type(dset.dtypes[col].name)
        print ("!%s.type:=ValueType::%s" % (col_name,value_type))
        target_column = str(col in target_columns).lower()
        print ("!%s.target:=%s" % (col_name,target_column))
        id_column = str(col in id_columns).lower()
        print ("!%s.id:=%s" % (col_name,id_column))
        print("!insert (%s,%s) into DSCol" % (dset_name, col_name))
        index_row = 0
        for item in dset[col]:
            if value_type == 'Int' or value_type == 'Float' or value_type == 'Boolean':
                data = 'num' + str(item)
                i = 1
                while(data in used_ids):
                    data = 'num' + str(item) + str(i)
                    i+=1
            else:
                data=item.strip()
                i = 1
                while(data in used_ids):
                    data = item + str(i)
                    i+=1
            print ('!create %s:Data' % data)
            used_ids.append(data)
            print ("!%s.value:='%s'" % (data,item))
            print ("!insert (%s,%s) into DSData" % (dset_name,data))
            print ("!insert (%s,%s) into DataCol" % (data, col_name))
            row_name = 'row' + str(index_row)
            if dset_name != CURRENT_DSET:
                i = 0
                while (row_name in used_ids):
                    row_name = 'row' + str(i)
                    i+=1
                DIFFERENCE = i - index_row
                CURRENT_DSET = dset_name
            else:
                row_name = 'row' + str(index_row +  DIFFERENCE)
            if row_name not in used_rows:
                used_rows.append(row_name)
                print("!create %s:Row" % row_name)
                print("!%s.uri:=%s" % (row_name,index_row))
                print("!insert (%s,%s) into DSRow" %(dset_name,row_name))
            print("!insert (%s, %s) into DataRow" %(data, row_name))
            index_row+=1
        index_col+=1
    used_ids = used_rows + used_ids
    return (used_ids)

In [5]:
def reset_vector():
    return []

In [6]:
colors = pd.read_csv('./datasets/colors.csv',sep=';').apply(lambda x: x.str.strip() if x.dtype == "object" else x)

In [7]:
colors

    COLOR TALLA
0    AZUL     L
1  BLANCO     M
2   NEGRO     S
3    AZUL     M
4  BLANCO    XL

In [8]:
from sklearn.model_selection import train_test_split

In [9]:
X_train, X_test, y_train, y_test = train_test_split(
    colors['COLOR'], colors['TALLA'], test_size=0.2, random_state=42)

In [10]:
colors_1 = X_test.to_frame()
colors_1['TALLA'] = y_test
colors_2 = X_train.to_frame()
colors_2['TALLA'] = y_train

In [11]:
dset_name = 'colors'
target_columns = ['']
id_columns = ['']
dset = colors
used_ids = reset_vector()
used_data = reset_vector()

In [12]:
used_ids = generate_cols_and_data(dset, dset_name, target_columns, id_columns, used_ids)

!create colors:Dataset
!create COLOR:Column
!COLOR.uri:=0
!COLOR.name:='COLOR'
!COLOR.type:=ValueType::Categorical
!COLOR.target:=false
!COLOR.id:=false
!insert (colors,COLOR) into DSCol
!create AZUL:Data
!AZUL.value:='AZUL'
!insert (colors,AZUL) into DSData
!insert (AZUL,COLOR) into DataCol
!create row0:Row
!row0.uri:=0
!insert (colors,row0) into DSRow
!insert (AZUL, row0) into DataRow
!create BLANCO:Data
!BLANCO.value:='BLANCO'
!insert (colors,BLANCO) into DSData
!insert (BLANCO,COLOR) into DataCol
!create row1:Row
!row1.uri:=1
!insert (colors,row1) into DSRow
!insert (BLANCO, row1) into DataRow
!create NEGRO:Data
!NEGRO.value:='NEGRO'
!insert (colors,NEGRO) into DSData
!insert (NEGRO,COLOR) into DataCol
!create row2:Row
!row2.uri:=2
!insert (colors,row2) into DSRow
!insert (NEGRO, row2) into DataRow
!create AZUL1:Data
!AZUL1.value:='AZUL'
!insert (colors,AZUL1) into DSData
!insert (AZUL1,COLOR) into DataCol
!create row3:Row
!row3.uri:=3
!insert (colors,row3) into DSRow
!insert (AZUL1, row3) into DataRow
!create BLANCO1:Data
!BLANCO1.value:='BLANCO'
!insert (colors,BLANCO1) into DSData
!insert (BLANCO1,COLOR) into DataCol
!create row4:Row
!row4.uri:=4
!insert (colors,row4) into DSRow
!insert (BLANCO1, row4) into DataRow
!create TALLA:Column
!TALLA.uri:=1
!TALLA.name:='TALLA'
!TALLA.type:=ValueType::Categorical
!TALLA.target:=false
!TALLA.id:=false
!insert (colors,TALLA) into DSCol
!create L:Data
!L.value:='L'
!insert (colors,L) into DSData
!insert (L,TALLA) into DataCol
!insert (L, row0) into DataRow
!create M:Data
!M.value:='M'
!insert (colors,M) into DSData
!insert (M,TALLA) into DataCol
!insert (M, row1) into DataRow
!create S:Data
!S.value:='S'
!insert (colors,S) into DSData
!insert (S,TALLA) into DataCol
!insert (S, row2) into DataRow
!create M1:Data
!M1.value:='M'
!insert (colors,M1) into DSData
!insert (M1,TALLA) into DataCol
!insert (M1, row3) into DataRow
!create XL:Data
!XL.value:='XL'
!insert (colors,XL) into DSData
!insert (XL,TALLA) into DataCol
!insert (XL, row4) into DataRow

In [13]:
dset_name = 'colors_out_1'
target_columns = []
id_columns = []
dset = colors_1

In [14]:
used_ids = generate_cols_and_data(dset, dset_name, target_columns, id_columns, used_ids)

!create colors_out_1:Dataset
!create COLOR1:Column
!COLOR1.uri:=0
!COLOR1.name:='COLOR'
!COLOR1.type:=ValueType::Categorical
!COLOR1.target:=false
!COLOR1.id:=false
!insert (colors_out_1,COLOR1) into DSCol
!create BLANCO2:Data
!BLANCO2.value:='BLANCO'
!insert (colors_out_1,BLANCO2) into DSData
!insert (BLANCO2,COLOR1) into DataCol
!create row5:Row
!row5.uri:=0
!insert (colors_out_1,row5) into DSRow
!insert (BLANCO2, row5) into DataRow
!create TALLA1:Column
!TALLA1.uri:=1
!TALLA1.name:='TALLA'
!TALLA1.type:=ValueType::Categorical
!TALLA1.target:=false
!TALLA1.id:=false
!insert (colors_out_1,TALLA1) into DSCol
!create M2:Data
!M2.value:='M'
!insert (colors_out_1,M2) into DSData
!insert (M2,TALLA1) into DataCol
!create row6:Row
!row6.uri:=0
!insert (colors_out_1,row6) into DSRow
!insert (M2, row6) into DataRow

In [15]:
dset_name = 'colors_out_2'
target_columns = []
id_columns = []
dset = colors_2

In [16]:
used_ids = generate_cols_and_data(dset, dset_name, target_columns, id_columns, used_ids)

!create colors_out_2:Dataset
!create COLOR2:Column
!COLOR2.uri:=0
!COLOR2.name:='COLOR'
!COLOR2.type:=ValueType::Categorical
!COLOR2.target:=false
!COLOR2.id:=false
!insert (colors_out_2,COLOR2) into DSCol
!create BLANCO3:Data
!BLANCO3.value:='BLANCO'
!insert (colors_out_2,BLANCO3) into DSData
!insert (BLANCO3,COLOR2) into DataCol
!create row7:Row
!row7.uri:=0
!insert (colors_out_2,row7) into DSRow
!insert (BLANCO3, row7) into DataRow
!create NEGRO1:Data
!NEGRO1.value:='NEGRO'
!insert (colors_out_2,NEGRO1) into DSData
!insert (NEGRO1,COLOR2) into DataCol
!create row9:Row
!row9.uri:=1
!insert (colors_out_2,row9) into DSRow
!insert (NEGRO1, row9) into DataRow
!create AZUL2:Data
!AZUL2.value:='AZUL'
!insert (colors_out_2,AZUL2) into DSData
!insert (AZUL2,COLOR2) into DataCol
!create row10:Row
!row10.uri:=2
!insert (colors_out_2,row10) into DSRow
!insert (AZUL2, row10) into DataRow
!create AZUL3:Data
!AZUL3.value:='AZUL'
!insert (colors_out_2,AZUL3) into DSData
!insert (AZUL3,COLOR2) into DataCol
!create row11:Row
!row11.uri:=3
!insert (colors_out_2,row11) into DSRow
!insert (AZUL3, row11) into DataRow
!create TALLA2:Column
!TALLA2.uri:=1
!TALLA2.name:='TALLA'
!TALLA2.type:=ValueType::Categorical
!TALLA2.target:=false
!TALLA2.id:=false
!insert (colors_out_2,TALLA2) into DSCol
!create XL1:Data
!XL1.value:='XL'
!insert (colors_out_2,XL1) into DSData
!insert (XL1,TALLA2) into DataCol
!create row8:Row
!row8.uri:=0
!insert (colors_out_2,row8) into DSRow
!insert (XL1, row8) into DataRow
!create S1:Data
!S1.value:='S'
!insert (colors_out_2,S1) into DSData
!insert (S1,TALLA2) into DataCol
!insert (S1, row9) into DataRow
!create L1:Data
!L1.value:='L'
!insert (colors_out_2,L1) into DSData
!insert (L1,TALLA2) into DataCol
!insert (L1, row10) into DataRow
!create M3:Data
!M3.value:='M'
!insert (colors_out_2,M3) into DSData
!insert (M3,TALLA2) into DataCol
!insert (M3, row11) into DataRow

In [17]:
colors

    COLOR TALLA
0    AZUL     L
1  BLANCO     M
2   NEGRO     S
3    AZUL     M
4  BLANCO    XL

In [18]:
one_hot_input = colors['COLOR'].to_frame()

In [19]:
one_hot_input

    COLOR
0    AZUL
1  BLANCO
2   NEGRO
3    AZUL
4  BLANCO

In [20]:
one_hot_output = pd.get_dummies(one_hot_input['COLOR'],prefix='').rename(columns={"_AZUL": "AZUL","_BLANCO" : "BLANCO", "_NEGRO":"NEGRO"})

In [21]:
one_hot_output['COLOR'] = colors['COLOR']

In [22]:
one_hot_output = one_hot_output[['COLOR','AZUL','BLANCO','NEGRO']]

In [23]:
colors_one_hot = colors

In [24]:
one_hot_output

    COLOR  AZUL  BLANCO  NEGRO
0    AZUL     1       0      0
1  BLANCO     0       1      0
2   NEGRO     0       0      1
3    AZUL     1       0      0
4  BLANCO     0       1      0

In [25]:
dset_name = 'onehot_input'
target_columns = []
id_columns = []
dset = one_hot_input
used_ids = reset_vector()
used_data = reset_vector()

In [26]:
used_ids = generate_cols_and_data(dset, dset_name, target_columns, id_columns, used_ids)

!create onehot_input:Dataset
!create COLOR:Column
!COLOR.uri:=0
!COLOR.name:='COLOR'
!COLOR.type:=ValueType::Categorical
!COLOR.target:=false
!COLOR.id:=false
!insert (onehot_input,COLOR) into DSCol
!create AZUL:Data
!AZUL.value:='AZUL'
!insert (onehot_input,AZUL) into DSData
!insert (AZUL,COLOR) into DataCol
!create row0:Row
!row0.uri:=0
!insert (onehot_input,row0) into DSRow
!insert (AZUL, row0) into DataRow
!create BLANCO:Data
!BLANCO.value:='BLANCO'
!insert (onehot_input,BLANCO) into DSData
!insert (BLANCO,COLOR) into DataCol
!create row1:Row
!row1.uri:=1
!insert (onehot_input,row1) into DSRow
!insert (BLANCO, row1) into DataRow
!create NEGRO:Data
!NEGRO.value:='NEGRO'
!insert (onehot_input,NEGRO) into DSData
!insert (NEGRO,COLOR) into DataCol
!create row2:Row
!row2.uri:=2
!insert (onehot_input,row2) into DSRow
!insert (NEGRO, row2) into DataRow
!create AZUL1:Data
!AZUL1.value:='AZUL'
!insert (onehot_input,AZUL1) into DSData
!insert (AZUL1,COLOR) into DataCol
!create row3:Row
!row3.uri:=3
!insert (onehot_input,row3) into DSRow
!insert (AZUL1, row3) into DataRow
!create BLANCO1:Data
!BLANCO1.value:='BLANCO'
!insert (onehot_input,BLANCO1) into DSData
!insert (BLANCO1,COLOR) into DataCol
!create row4:Row
!row4.uri:=4
!insert (onehot_input,row4) into DSRow
!insert (BLANCO1, row4) into DataRow

In [27]:
dset_name = 'onehot_output'
target_columns = []
id_columns = []
dset = one_hot_output

In [28]:
dset

    COLOR  AZUL  BLANCO  NEGRO
0    AZUL     1       0      0
1  BLANCO     0       1      0
2   NEGRO     0       0      1
3    AZUL     1       0      0
4  BLANCO     0       1      0

In [29]:
used_ids = generate_cols_and_data(dset, dset_name, target_columns, id_columns, used_ids)

!create onehot_output:Dataset
!create COLOR1:Column
!COLOR1.uri:=0
!COLOR1.name:='COLOR'
!COLOR1.type:=ValueType::Categorical
!COLOR1.target:=false
!COLOR1.id:=false
!insert (onehot_output,COLOR1) into DSCol
!create AZUL2:Data
!AZUL2.value:='AZUL'
!insert (onehot_output,AZUL2) into DSData
!insert (AZUL2,COLOR1) into DataCol
!create row5:Row
!row5.uri:=0
!insert (onehot_output,row5) into DSRow
!insert (AZUL2, row5) into DataRow
!create BLANCO2:Data
!BLANCO2.value:='BLANCO'
!insert (onehot_output,BLANCO2) into DSData
!insert (BLANCO2,COLOR1) into DataCol
!create row7:Row
!row7.uri:=1
!insert (onehot_output,row7) into DSRow
!insert (BLANCO2, row7) into DataRow
!create NEGRO1:Data
!NEGRO1.value:='NEGRO'
!insert (onehot_output,NEGRO1) into DSData
!insert (NEGRO1,COLOR1) into DataCol
!create row8:Row
!row8.uri:=2
!insert (onehot_output,row8) into DSRow
!insert (NEGRO1, row8) into DataRow
!create AZUL3:Data
!AZUL3.value:='AZUL'
!insert (onehot_output,AZUL3) into DSData
!insert (AZUL3,COLOR1) into DataCol
!create row9:Row
!row9.uri:=3
!insert (onehot_output,row9) into DSRow
!insert (AZUL3, row9) into DataRow
!create BLANCO3:Data
!BLANCO3.value:='BLANCO'
!insert (onehot_output,BLANCO3) into DSData
!insert (BLANCO3,COLOR1) into DataCol
!create row10:Row
!row10.uri:=4
!insert (onehot_output,row10) into DSRow
!insert (BLANCO3, row10) into DataRow
!create AZUL4:Column
!AZUL4.uri:=1
!AZUL4.name:='AZUL'
!AZUL4.type:=ValueType::Boolean
!AZUL4.target:=false
!AZUL4.id:=false
!insert (onehot_output,AZUL4) into DSCol
!create num1:Data
!num1.value:='1'
!insert (onehot_output,num1) into DSData
!insert (num1,AZUL4) into DataCol
!create row6:Row
!row6.uri:=0
!insert (onehot_output,row6) into DSRow
!insert (num1, row6) into DataRow
!create num0:Data
!num0.value:='0'
!insert (onehot_output,num0) into DSData
!insert (num0,AZUL4) into DataCol
!insert (num0, row7) into DataRow
!create num01:Data
!num01.value:='0'
!insert (onehot_output,num01) into DSData
!insert (num01,AZUL4) into DataCol
!insert (num01, row8) into DataRow
!create num11:Data
!num11.value:='1'
!insert (onehot_output,num11) into DSData
!insert (num11,AZUL4) into DataCol
!insert (num11, row9) into DataRow
!create num02:Data
!num02.value:='0'
!insert (onehot_output,num02) into DSData
!insert (num02,AZUL4) into DataCol
!insert (num02, row10) into DataRow
!create BLANCO4:Column
!BLANCO4.uri:=2
!BLANCO4.name:='BLANCO'
!BLANCO4.type:=ValueType::Boolean
!BLANCO4.target:=false
!BLANCO4.id:=false
!insert (onehot_output,BLANCO4) into DSCol
!create num03:Data
!num03.value:='0'
!insert (onehot_output,num03) into DSData
!insert (num03,BLANCO4) into DataCol
!insert (num03, row6) into DataRow
!create num12:Data
!num12.value:='1'
!insert (onehot_output,num12) into DSData
!insert (num12,BLANCO4) into DataCol
!insert (num12, row7) into DataRow
!create num04:Data
!num04.value:='0'
!insert (onehot_output,num04) into DSData
!insert (num04,BLANCO4) into DataCol
!insert (num04, row8) into DataRow
!create num05:Data
!num05.value:='0'
!insert (onehot_output,num05) into DSData
!insert (num05,BLANCO4) into DataCol
!insert (num05, row9) into DataRow
!create num13:Data
!num13.value:='1'
!insert (onehot_output,num13) into DSData
!insert (num13,BLANCO4) into DataCol
!insert (num13, row10) into DataRow
!create NEGRO2:Column
!NEGRO2.uri:=3
!NEGRO2.name:='NEGRO'
!NEGRO2.type:=ValueType::Boolean
!NEGRO2.target:=false
!NEGRO2.id:=false
!insert (onehot_output,NEGRO2) into DSCol
!create num06:Data
!num06.value:='0'
!insert (onehot_output,num06) into DSData
!insert (num06,NEGRO2) into DataCol
!insert (num06, row6) into DataRow
!create num07:Data
!num07.value:='0'
!insert (onehot_output,num07) into DSData
!insert (num07,NEGRO2) into DataCol
!insert (num07, row7) into DataRow
!create num14:Data
!num14.value:='1'
!insert (onehot_output,num14) into DSData
!insert (num14,NEGRO2) into DataCol
!insert (num14, row8) into DataRow
!create num08:Data
!num08.value:='0'
!insert (onehot_output,num08) into DSData
!insert (num08,NEGRO2) into DataCol
!insert (num08, row9) into DataRow
!create num09:Data
!num09.value:='0'
!insert (onehot_output,num09) into DSData
!insert (num09,NEGRO2) into DataCol
!insert (num09, row10) into DataRow

In [30]:
used_ids = reset_vector()

In [31]:
dset_name = 'remove_col_input'
target_columns = []
id_columns = []
dset = colors

In [32]:
used_ids = generate_cols_and_data(dset, dset_name, target_columns, id_columns, used_ids)

!create remove_col_input:Dataset
!create COLOR:Column
!COLOR.uri:=0
!COLOR.name:='COLOR'
!COLOR.type:=ValueType::Categorical
!COLOR.target:=false
!COLOR.id:=false
!insert (remove_col_input,COLOR) into DSCol
!create AZUL:Data
!AZUL.value:='AZUL'
!insert (remove_col_input,AZUL) into DSData
!insert (AZUL,COLOR) into DataCol
!create row0:Row
!row0.uri:=0
!insert (remove_col_input,row0) into DSRow
!insert (AZUL, row0) into DataRow
!create BLANCO:Data
!BLANCO.value:='BLANCO'
!insert (remove_col_input,BLANCO) into DSData
!insert (BLANCO,COLOR) into DataCol
!create row1:Row
!row1.uri:=1
!insert (remove_col_input,row1) into DSRow
!insert (BLANCO, row1) into DataRow
!create NEGRO:Data
!NEGRO.value:='NEGRO'
!insert (remove_col_input,NEGRO) into DSData
!insert (NEGRO,COLOR) into DataCol
!create row2:Row
!row2.uri:=2
!insert (remove_col_input,row2) into DSRow
!insert (NEGRO, row2) into DataRow
!create AZUL1:Data
!AZUL1.value:='AZUL'
!insert (remove_col_input,AZUL1) into DSData
!insert (AZUL1,COLOR) into DataCol
!create row3:Row
!row3.uri:=3
!insert (remove_col_input,row3) into DSRow
!insert (AZUL1, row3) into DataRow
!create BLANCO1:Data
!BLANCO1.value:='BLANCO'
!insert (remove_col_input,BLANCO1) into DSData
!insert (BLANCO1,COLOR) into DataCol
!create row4:Row
!row4.uri:=4
!insert (remove_col_input,row4) into DSRow
!insert (BLANCO1, row4) into DataRow
!create TALLA:Column
!TALLA.uri:=1
!TALLA.name:='TALLA'
!TALLA.type:=ValueType::Categorical
!TALLA.target:=false
!TALLA.id:=false
!insert (remove_col_input,TALLA) into DSCol
!create L:Data
!L.value:='L'
!insert (remove_col_input,L) into DSData
!insert (L,TALLA) into DataCol
!insert (L, row0) into DataRow
!create M:Data
!M.value:='M'
!insert (remove_col_input,M) into DSData
!insert (M,TALLA) into DataCol
!insert (M, row1) into DataRow
!create S:Data
!S.value:='S'
!insert (remove_col_input,S) into DSData
!insert (S,TALLA) into DataCol
!insert (S, row2) into DataRow
!create M1:Data
!M1.value:='M'
!insert (remove_col_input,M1) into DSData
!insert (M1,TALLA) into DataCol
!insert (M1, row3) into DataRow
!create XL:Data
!XL.value:='XL'
!insert (remove_col_input,XL) into DSData
!insert (XL,TALLA) into DataCol
!insert (XL, row4) into DataRow

In [33]:
remove_col_output = dset.drop(['TALLA'], axis=1)

In [34]:
remove_col_output

    COLOR
0    AZUL
1  BLANCO
2   NEGRO
3    AZUL
4  BLANCO

In [35]:
dset_name = 'remove_col_output'
target_columns = []
id_columns = []
dset = remove_col_output

In [36]:
used_ids = generate_cols_and_data(dset, dset_name, target_columns, id_columns, used_ids)

!create remove_col_output:Dataset
!create COLOR1:Column
!COLOR1.uri:=0
!COLOR1.name:='COLOR'
!COLOR1.type:=ValueType::Categorical
!COLOR1.target:=false
!COLOR1.id:=false
!insert (remove_col_output,COLOR1) into DSCol
!create AZUL2:Data
!AZUL2.value:='AZUL'
!insert (remove_col_output,AZUL2) into DSData
!insert (AZUL2,COLOR1) into DataCol
!create row5:Row
!row5.uri:=0
!insert (remove_col_output,row5) into DSRow
!insert (AZUL2, row5) into DataRow
!create BLANCO2:Data
!BLANCO2.value:='BLANCO'
!insert (remove_col_output,BLANCO2) into DSData
!insert (BLANCO2,COLOR1) into DataCol
!create row7:Row
!row7.uri:=1
!insert (remove_col_output,row7) into DSRow
!insert (BLANCO2, row7) into DataRow
!create NEGRO1:Data
!NEGRO1.value:='NEGRO'
!insert (remove_col_output,NEGRO1) into DSData
!insert (NEGRO1,COLOR1) into DataCol
!create row8:Row
!row8.uri:=2
!insert (remove_col_output,row8) into DSRow
!insert (NEGRO1, row8) into DataRow
!create AZUL3:Data
!AZUL3.value:='AZUL'
!insert (remove_col_output,AZUL3) into DSData
!insert (AZUL3,COLOR1) into DataCol
!create row9:Row
!row9.uri:=3
!insert (remove_col_output,row9) into DSRow
!insert (AZUL3, row9) into DataRow
!create BLANCO3:Data
!BLANCO3.value:='BLANCO'
!insert (remove_col_output,BLANCO3) into DSData
!insert (BLANCO3,COLOR1) into DataCol
!create row10:Row
!row10.uri:=4
!insert (remove_col_output,row10) into DSRow
!insert (BLANCO3, row10) into DataRow

In [37]:
colors

    COLOR TALLA
0    AZUL     L
1  BLANCO     M
2   NEGRO     S
3    AZUL     M
4  BLANCO    XL

In [38]:
from imblearn.over_sampling import SMOTE

In [39]:
one_hot_output

    COLOR  AZUL  BLANCO  NEGRO
0    AZUL     1       0      0
1  BLANCO     0       1      0
2   NEGRO     0       0      1
3    AZUL     1       0      0
4  BLANCO     0       1      0

In [40]:
x_train = one_hot_output.drop(['COLOR'], axis=1)

In [41]:
colors_smote = pd.read_csv('./datasets/colors_smote.csv',sep=';').apply(lambda x: x.str.strip() if x.dtype == "object" else x)

In [42]:
smote_input = x_train

In [43]:
smote_input['TALLA'] = colors_smote['TALLA']

In [44]:
smote_input

   AZUL  BLANCO  NEGRO  TALLA
0     1       0      0      1
1     0       1      0      1
2     0       0      1      1
3     1       0      0      0
4     0       1      0      0

In [45]:
sm = SMOTE(k_neighbors=1) 
X_train_res, y_train_res = sm.fit_sample(x_train, colors_smote['TALLA'].ravel())

In [46]:
smote_output = X_train_res

In [47]:
smote_output

   AZUL  BLANCO  NEGRO  TALLA
0     1       0      0      1
1     0       1      0      1
2     0       0      1      1
3     1       0      0      0
4     0       1      0      0
5     0       0      0      0

In [48]:
smote_output['TALLA'] = y_train_res

In [49]:
smote_output

   AZUL  BLANCO  NEGRO  TALLA
0     1       0      0      1
1     0       1      0      1
2     0       0      1      1
3     1       0      0      0
4     0       1      0      0
5     0       0      0      0

In [50]:
used_ids = reset_vector()

In [51]:
dset_name = 'smote_input'
target_columns = []
id_columns = []
dset = smote_input

In [52]:
used_ids = generate_cols_and_data(dset, dset_name, target_columns, id_columns, used_ids)

!create smote_input:Dataset
!create AZUL:Column
!AZUL.uri:=0
!AZUL.name:='AZUL'
!AZUL.type:=ValueType::Boolean
!AZUL.target:=false
!AZUL.id:=false
!insert (smote_input,AZUL) into DSCol
!create num1:Data
!num1.value:='1'
!insert (smote_input,num1) into DSData
!insert (num1,AZUL) into DataCol
!create row0:Row
!row0.uri:=0
!insert (smote_input,row0) into DSRow
!insert (num1, row0) into DataRow
!create num0:Data
!num0.value:='0'
!insert (smote_input,num0) into DSData
!insert (num0,AZUL) into DataCol
!create row1:Row
!row1.uri:=1
!insert (smote_input,row1) into DSRow
!insert (num0, row1) into DataRow
!create num01:Data
!num01.value:='0'
!insert (smote_input,num01) into DSData
!insert (num01,AZUL) into DataCol
!create row2:Row
!row2.uri:=2
!insert (smote_input,row2) into DSRow
!insert (num01, row2) into DataRow
!create num11:Data
!num11.value:='1'
!insert (smote_input,num11) into DSData
!insert (num11,AZUL) into DataCol
!create row3:Row
!row3.uri:=3
!insert (smote_input,row3) into DSRow
!insert (num11, row3) into DataRow
!create num02:Data
!num02.value:='0'
!insert (smote_input,num02) into DSData
!insert (num02,AZUL) into DataCol
!create row4:Row
!row4.uri:=4
!insert (smote_input,row4) into DSRow
!insert (num02, row4) into DataRow
!create BLANCO:Column
!BLANCO.uri:=1
!BLANCO.name:='BLANCO'
!BLANCO.type:=ValueType::Boolean
!BLANCO.target:=false
!BLANCO.id:=false
!insert (smote_input,BLANCO) into DSCol
!create num03:Data
!num03.value:='0'
!insert (smote_input,num03) into DSData
!insert (num03,BLANCO) into DataCol
!insert (num03, row0) into DataRow
!create num12:Data
!num12.value:='1'
!insert (smote_input,num12) into DSData
!insert (num12,BLANCO) into DataCol
!insert (num12, row1) into DataRow
!create num04:Data
!num04.value:='0'
!insert (smote_input,num04) into DSData
!insert (num04,BLANCO) into DataCol
!insert (num04, row2) into DataRow
!create num05:Data
!num05.value:='0'
!insert (smote_input,num05) into DSData
!insert (num05,BLANCO) into DataCol
!insert (num05, row3) into DataRow
!create num13:Data
!num13.value:='1'
!insert (smote_input,num13) into DSData
!insert (num13,BLANCO) into DataCol
!insert (num13, row4) into DataRow
!create NEGRO:Column
!NEGRO.uri:=2
!NEGRO.name:='NEGRO'
!NEGRO.type:=ValueType::Boolean
!NEGRO.target:=false
!NEGRO.id:=false
!insert (smote_input,NEGRO) into DSCol
!create num06:Data
!num06.value:='0'
!insert (smote_input,num06) into DSData
!insert (num06,NEGRO) into DataCol
!insert (num06, row0) into DataRow
!create num07:Data
!num07.value:='0'
!insert (smote_input,num07) into DSData
!insert (num07,NEGRO) into DataCol
!insert (num07, row1) into DataRow
!create num14:Data
!num14.value:='1'
!insert (smote_input,num14) into DSData
!insert (num14,NEGRO) into DataCol
!insert (num14, row2) into DataRow
!create num08:Data
!num08.value:='0'
!insert (smote_input,num08) into DSData
!insert (num08,NEGRO) into DataCol
!insert (num08, row3) into DataRow
!create num09:Data
!num09.value:='0'
!insert (smote_input,num09) into DSData
!insert (num09,NEGRO) into DataCol
!insert (num09, row4) into DataRow
!create TALLA:Column
!TALLA.uri:=3
!TALLA.name:='TALLA'
!TALLA.type:=ValueType::Int
!TALLA.target:=false
!TALLA.id:=false
!insert (smote_input,TALLA) into DSCol
!create num15:Data
!num15.value:='1'
!insert (smote_input,num15) into DSData
!insert (num15,TALLA) into DataCol
!insert (num15, row0) into DataRow
!create num16:Data
!num16.value:='1'
!insert (smote_input,num16) into DSData
!insert (num16,TALLA) into DataCol
!insert (num16, row1) into DataRow
!create num17:Data
!num17.value:='1'
!insert (smote_input,num17) into DSData
!insert (num17,TALLA) into DataCol
!insert (num17, row2) into DataRow
!create num010:Data
!num010.value:='0'
!insert (smote_input,num010) into DSData
!insert (num010,TALLA) into DataCol
!insert (num010, row3) into DataRow
!create num011:Data
!num011.value:='0'
!insert (smote_input,num011) into DSData
!insert (num011,TALLA) into DataCol
!insert (num011, row4) into DataRow

In [53]:
dset_name = 'smote_output'
target_columns = []
id_columns = []
dset = smote_output

In [54]:
used_ids = generate_cols_and_data(dset, dset_name, target_columns, id_columns, used_ids)

!create smote_output:Dataset
!create AZUL1:Column
!AZUL1.uri:=0
!AZUL1.name:='AZUL'
!AZUL1.type:=ValueType::Boolean
!AZUL1.target:=false
!AZUL1.id:=false
!insert (smote_output,AZUL1) into DSCol
!create num18:Data
!num18.value:='1'
!insert (smote_output,num18) into DSData
!insert (num18,AZUL1) into DataCol
!create row5:Row
!row5.uri:=0
!insert (smote_output,row5) into DSRow
!insert (num18, row5) into DataRow
!create num012:Data
!num012.value:='0'
!insert (smote_output,num012) into DSData
!insert (num012,AZUL1) into DataCol
!create row7:Row
!row7.uri:=1
!insert (smote_output,row7) into DSRow
!insert (num012, row7) into DataRow
!create num013:Data
!num013.value:='0'
!insert (smote_output,num013) into DSData
!insert (num013,AZUL1) into DataCol
!create row8:Row
!row8.uri:=2
!insert (smote_output,row8) into DSRow
!insert (num013, row8) into DataRow
!create num19:Data
!num19.value:='1'
!insert (smote_output,num19) into DSData
!insert (num19,AZUL1) into DataCol
!create row9:Row
!row9.uri:=3
!insert (smote_output,row9) into DSRow
!insert (num19, row9) into DataRow
!create num014:Data
!num014.value:='0'
!insert (smote_output,num014) into DSData
!insert (num014,AZUL1) into DataCol
!create row10:Row
!row10.uri:=4
!insert (smote_output,row10) into DSRow
!insert (num014, row10) into DataRow
!create num015:Data
!num015.value:='0'
!insert (smote_output,num015) into DSData
!insert (num015,AZUL1) into DataCol
!create row11:Row
!row11.uri:=5
!insert (smote_output,row11) into DSRow
!insert (num015, row11) into DataRow
!create BLANCO1:Column
!BLANCO1.uri:=1
!BLANCO1.name:='BLANCO'
!BLANCO1.type:=ValueType::Boolean
!BLANCO1.target:=false
!BLANCO1.id:=false
!insert (smote_output,BLANCO1) into DSCol
!create num016:Data
!num016.value:='0'
!insert (smote_output,num016) into DSData
!insert (num016,BLANCO1) into DataCol
!create row6:Row
!row6.uri:=0
!insert (smote_output,row6) into DSRow
!insert (num016, row6) into DataRow
!create num110:Data
!num110.value:='1'
!insert (smote_output,num110) into DSData
!insert (num110,BLANCO1) into DataCol
!insert (num110, row7) into DataRow
!create num017:Data
!num017.value:='0'
!insert (smote_output,num017) into DSData
!insert (num017,BLANCO1) into DataCol
!insert (num017, row8) into DataRow
!create num018:Data
!num018.value:='0'
!insert (smote_output,num018) into DSData
!insert (num018,BLANCO1) into DataCol
!insert (num018, row9) into DataRow
!create num111:Data
!num111.value:='1'
!insert (smote_output,num111) into DSData
!insert (num111,BLANCO1) into DataCol
!insert (num111, row10) into DataRow
!create num019:Data
!num019.value:='0'
!insert (smote_output,num019) into DSData
!insert (num019,BLANCO1) into DataCol
!insert (num019, row11) into DataRow
!create NEGRO1:Column
!NEGRO1.uri:=2
!NEGRO1.name:='NEGRO'
!NEGRO1.type:=ValueType::Boolean
!NEGRO1.target:=false
!NEGRO1.id:=false
!insert (smote_output,NEGRO1) into DSCol
!create num020:Data
!num020.value:='0'
!insert (smote_output,num020) into DSData
!insert (num020,NEGRO1) into DataCol
!insert (num020, row6) into DataRow
!create num021:Data
!num021.value:='0'
!insert (smote_output,num021) into DSData
!insert (num021,NEGRO1) into DataCol
!insert (num021, row7) into DataRow
!create num112:Data
!num112.value:='1'
!insert (smote_output,num112) into DSData
!insert (num112,NEGRO1) into DataCol
!insert (num112, row8) into DataRow
!create num022:Data
!num022.value:='0'
!insert (smote_output,num022) into DSData
!insert (num022,NEGRO1) into DataCol
!insert (num022, row9) into DataRow
!create num023:Data
!num023.value:='0'
!insert (smote_output,num023) into DSData
!insert (num023,NEGRO1) into DataCol
!insert (num023, row10) into DataRow
!create num024:Data
!num024.value:='0'
!insert (smote_output,num024) into DSData
!insert (num024,NEGRO1) into DataCol
!insert (num024, row11) into DataRow
!create TALLA1:Column
!TALLA1.uri:=3
!TALLA1.name:='TALLA'
!TALLA1.type:=ValueType::Int
!TALLA1.target:=false
!TALLA1.id:=false
!insert (smote_output,TALLA1) into DSCol
!create num113:Data
!num113.value:='1'
!insert (smote_output,num113) into DSData
!insert (num113,TALLA1) into DataCol
!insert (num113, row6) into DataRow
!create num114:Data
!num114.value:='1'
!insert (smote_output,num114) into DSData
!insert (num114,TALLA1) into DataCol
!insert (num114, row7) into DataRow
!create num115:Data
!num115.value:='1'
!insert (smote_output,num115) into DSData
!insert (num115,TALLA1) into DataCol
!insert (num115, row8) into DataRow
!create num025:Data
!num025.value:='0'
!insert (smote_output,num025) into DSData
!insert (num025,TALLA1) into DataCol
!insert (num025, row9) into DataRow
!create num026:Data
!num026.value:='0'
!insert (smote_output,num026) into DSData
!insert (num026,TALLA1) into DataCol
!insert (num026, row10) into DataRow
!create num027:Data
!num027.value:='0'
!insert (smote_output,num027) into DSData
!insert (num027,TALLA1) into DataCol
!insert (num027, row11) into DataRow